@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 3px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: lightGray;
  border-radius: 15px;
  scrollbar-width: thin;
}

/* Font */
@font-face {
  font-family: 'Gmarket';
  src: url('../assets/fonts/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gmarket';
  src: url('../assets/fonts/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gmarket';
  src: url('../assets/fonts/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

.input-default {
  @apply p-2 my-2 border border-solid rounded-md outline-none border-slate-300 placeholder:font-thin placeholder:text-sm;
}
.input-default-err-msg {
  @apply text-red-500 text-xs h-4;
}

@layer utilities {
  .scrollbar_option::-webkit-scrollbar {
    width: 3px;
  }
  .scrollbar_option::-webkit-scrollbar-thumb {
    background-color: lightGray;
    border-radius: 15px;
    scrollbar-width: thin;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .rangeInput {
    width: 100%;
    background: linear-gradient(to right, #c8d9ff 0%, #c8d9ff 50%, #ececec 50%, #ececec 100%);
    border-radius: 8px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    accent-color: #8aafff;
  }
}
