@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@font-face {
  font-family: 'Gmarket';
  src: url('../assets/fonts/GmarketSansTTFMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gmarket';
  src: url('../assets/fonts/GmarketSansTTFBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gmarket';
  src: url('../assets/fonts/GmarketSansTTFLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

.input-default {
  @apply p-2 my-2 border border-solid rounded-md outline-none border-slate-300 placeholder:font-thin placeholder:text-sm;
}
.input-default-err-msg {
  @apply text-red-500 text-xs h-4;
}
